{% extends "forum/base.html" %}
{% load widget_tweaks %}

{% block content %}
	<div align="center">
		<div class="content-section col-md-6">
		
			<!-- Javascript: Focus On Username Field -->
			<script type="text/javascript">
			  $(document).ready(
				function(){
				  var textArea = document.getElementById('id_username');
				  textArea.focus();
				}
			  );
			</script>
		
			<!-- Form -->
			<form method="POST">
				{% csrf_token %}
				
				<legend class="border-bottom mb-4" align="center">Log In</legend>
				{% for field in form %}
					<div class="mb-2">
						{{ field|add_class:'form-control' }}
					</div>
				{% endfor %}
				
				<!-- Shortform Message Display -->
				{% if messages %}
					<div class="alert alert-warning">
						<div class="row ml-1">
							<ul>
								{% for message in messages %}
									<li>{{ message }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endif %}
				
				<button class="btn btn-dark btn-block" type="submit">Log In</button>
				
				<div class="mb-1" align="right">
					<small class="text-muted"><a href="{% url 'password_reset' %}">Forgot Password?</a></small>
				</div>
			</form>
			
			<div class="border-top">
				<small class="text-muted">Need an account?<a class="ml-2" href="{% url 'register' %}">Register Now</a></small>
			</div>
		</div>
	</div>
{% endblock content %}
