{% extends "forum/base.html" %}
{% load widget_tweaks %}

{% block content %}
	<div align="center">
		<div class="content-section col-md-6">
		
			<!-- Javascript: Focus On Username Field -->
			<script type="text/javascript">
			  $(document).ready(
				function(){
				  var textArea = document.getElementById('id_email');
				  textArea.focus();
				}
			  );
			</script>
			
			<!-- Form -->
			<form method="POST">
				{% csrf_token %}
				
				<legend class="border-bottom mb-4" align="center">Reset Password</legend>
				{% for field in form %}
					<div class="mb-2">
						{{ field|add_class:'form-control' }}
					</div>
					{% if field.errors %}
						<div class="alert alert-warning">
							<ul>
								<li>{{ field.errors.0 }}</li>
							</ul>
						</div>
					{% endif %}
				{% endfor %}
				
				<div align="right">
					<button class="btn btn-dark" type="submit">Request Password Reset</button>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}
